.propertiesPage {
  display: flex;
  justify-content: center;
}

.propertiesTable {
  text-align: left;
  width: auto;
  display: inline-block;
  margin: 1em auto;
  position: relative;
}

.mat-header-cell {
  font-size: 1rem;
  padding: 0.5em;
  font-weight: normal;
}

.mat-cell {
  padding: 0.5em;
  border-bottom-color: inherit;
}

.boldText {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.green {
  color: #08BE22;
}

.red {
  color: #D52B1E;
}

.gray {
  color: #353435;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.filters {

}

.noDataRow {
  text-align:center;
  font-weight: 500;
  color: #D52B1E;
}

.link {
  color: #4E9CE8;
  text-decoration: underline;
  cursor: pointer;
}
